layout {

    focus-ring {
        active-color   "#64d3ff"
        inactive-color "#111415"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#64d3ff"
        inactive-color "#111415"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#64d3ff"
        inactive-color "#004d64"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#64d3ff80"
    }
}

recent-windows {
    highlight {
        active-color "#64d3ff"
        urgent-color "#ffb4ab"
    }
}
